#!/usr/bin/make -f

export DH_VERBOSE=1

DESTDIR=$(CURDIR)/debian/helios-standalone

build:

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	mkdir -p $(DESTDIR)/usr/bin/
	install helios-cleanup $(DESTDIR)/usr/bin/
	install helios-down $(DESTDIR)/usr/bin/
	install helios-enter $(DESTDIR)/usr/bin/
	install helios-env $(DESTDIR)/usr/bin/
	install helios-restart $(DESTDIR)/usr/bin/
	install helios-standalone $(DESTDIR)/usr/bin/
	install helios-up $(DESTDIR)/usr/bin/

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install configure
